/*
Tramva - Travel Coming Soon Template

Content Tabel
+---------------+

-LESS Variables
-General Classes
-Common-Stuff

-Animation Elements

-Preloader

-Browsers Hacks
   
  
*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}
.gray {
  color: #abb0ac !important;
}
.font {
  font-family: 'Dosis', sans-serif;
}
img {
  width: auto\9;
  max-width: 100%;
}
/*  General classes  */
.no-margin {
  padding: 0;
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin-left {
  margin-left: 0;
  padding-left: 0;
}
.no-margin-right {
  margin-right: 0;
  padding-right: 0;
}
a:hover,
a:focus,
a:active {
  color: #ee6c27;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #747474;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  position: relative;
  padding: 0;
}
::-moz-selection {
  background-color: #ee6c27;
  color: #ffffff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
::selection {
  background-color: #ee6c27;
  color: #ffffff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
}
a,
button,
a:hover,
button:hover,
a:focus,
button:focus,
a.active,
button.active {
  outline: none!important;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #414141;
}
.uppercase {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600!important;
  text-transform: uppercase;
}
h4 {
  font-size: 12px;
}
.capital {
  text-transform: capitalize;
}
#loading {
  visibility: hidden;
}
*:focus {
  outline: none;
}
.inline {
  display: inline-block;
}
.center-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/*Common-Stuff*/
.error {
  font-size: 13px;
  line-height: 18px;
  color: #e84546;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.animate {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.animate2 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons.big li {
  font-size: 42px;
}
.social-icons.small li {
  margin-right: 5px;
}
.social-icons.small li a {
  width: 16px;
  height: 16px;
}
.social-icons.small li a:hover {
  border-width: 3px;
}
.social-icons.small li a:before {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li a {
  display: inline-block;
}
.social-icons li a:hover {
  border-width: 5px;
}
.social-icons li a:before {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
section,
header {
  position: relative;
}
.fontawesome {
  font-family: fontawesome;
}
.le-input {
  background-color: #f4f4f4;
  border: none;
  color: #000000;
  border-radius: 3px;
  padding: 10px;
}
.le-btn {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ee6c27;
  font-size: 13px;
  padding: 10px 15px;
}
.le-btn:hover {
  background-color: #d25310;
  color: #ffffff;
  cursor: pointer;
}
.le-btn:focus,
.le-btn.active,
.le-btn:active {
  background-color: #d25310;
  color: #ffffff;
}
.le-btn.big {
  padding: 15px 30px;
  font-size: 16px;
}
.le-btn.icon-btn {
  padding: 9px 10px 9px 10px;
}
.le-btn.icon-btn:before {
  font-size: 19px;
  width: 19px;
  height: 19px;
  line-height: 19px;
}
.le-btn.small {
  font-size: 10px;
  padding: 9px 12px;
}
.bold {
  font-weight: bold!important;
}
.bold100 {
  font-weight: 100!important;
}
.bold200 {
  font-weight: 200!important;
}
.bold300 {
  font-weight: 300!important;
}
.bold400 {
  font-weight: 400!important;
}
.bold500 {
  font-weight: 500!important;
}
.bold600 {
  font-weight: 600!important;
}
.bold700 {
  font-weight: 700!important;
}
.bold800 {
  font-weight: 800!important;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.italic {
  font-style: italic;
}
/*Sections*/
.wrapper {
  position: relative;
}
/*Counter*/
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate-reverse {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@keyframes lefadeIn {
  100% {
    opacity: 1;
  }
}
#countdown_dashboard {
  height: 70px;
  margin: 20px 0px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.2s forwards, bounceIn 1s 5.2s forwards;
}
.dash {
  width: 60px;
  height: 65px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.dash .digit {
  font-size: 35px;
  font-weight: bold!important;
  float: left;
  width: 25px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.dash_title {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  right: 12px;
  font-weight: bold!important;
  font-size: 12px;
  color: #323232;
  text-transform: uppercase;
}
.dev_comment {
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-style: italic;
  margin: 40px 10px;
}
.counter-holder {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.counter-holder h1 {
  font-size: 42px;
  line-height: 45px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 4.5s forwards, bounceIn 0.5s 4.5s forwards;
}
.counter-holder .subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 4.7s forwards, bounceIn 0.5s 4.7s forwards;
}
.form-holder {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 4.9s forwards, bounceIn 0.5s 4.9s forwards;
}
form {
  text-align: center;
}
form .input-group-addon {
  vertical-align: middle;
  display: inline-block;
}
form .input-group-addon .le-btn {
  vertical-align: middle;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  line-height: 15px;
  min-width: 80px;
  font-size: 11px;
  margin-left: -5px;
}
form .input-group {
  position: relative;
}
form .input-group .le-input {
  vertical-align: middle;
  height: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
.fixed {
  position: fixed;
}
.alert-success {
  font-weight: bold!important;
  font-size: 18px;
}
label.error {
  position: absolute;
  bottom: -20px;
  font-weight: bold!important;
  right: 0;
  margin: auto;
  text-align: center;
  left: 0;
}
/*Page Elements*/
.page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.counter-holder {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 4s forwards, bounceIn 2s 4s forwards;
  background-color: #eae7d9;
  border-radius: 1000px;
  height: 380px;
  width: 380px;
}
.counter-holder .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 59%;
}
.counter-holder .content h1 {
  color: #ee6c27;
  font-size: 35px;
}
@keyframes showSky {
  0% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}
@keyframes showLand {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}
.wrapper {
  background-color: #e6e3d2;
  width: 100%;
  height: 100%;
}
.wrapper:before {
  background: url(../images/bg-pattern.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
#canvas {
  width: 100%;
  height: 100%;
  position: relative;
}
#canvas #planes,
#canvas #road,
#canvas #clouds {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center!important;
  background-size: contain!important;
}
#canvas #road {
  width: 892px;
  height: 892px;
  background: url(../images/road.png) no-repeat;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 1s 3s forwards, rotate-reverse 20s linear infinite;
}
#canvas #planes {
  width: 886px;
  height: 863px;
  background: url(../images/planes.png) no-repeat;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 1s 3.4s forwards, rotate 29s linear infinite;
}
#canvas #clouds {
  width: 802px;
  height: 834px;
  background: url(../images/clouds.png) no-repeat;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 1s 3.6s forwards, rotate-reverse 25s linear infinite;
}
.safari #canvas #road {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  animation: rotate-reverse 20s linear infinite;
}
.firefox #canvas #clouds,
.firefox #canvas #planes {
  top: -140px;
}
.ie9 .counter-holder {
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
}
.ie9 .counter-holder h1,
.ie9 .counter-holder h3,
.ie9 .counter-holder #countdown_dashboard,
.ie9 .counter-holder .form-holder {
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
  display: block!important;
}
.ie9 #canvas #clouds,
.ie9 #canvas #planes,
.ie9 #canvas #road {
  display: block!important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
}
@media all and (max-width: 950px) {
  #road {
    width: 96%!important;
  }
  #clouds {
    width: 70%!important;
  }
  #planes {
    width: 84%!important;
  }
  .page-container {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media all and (max-width: 590px) {
  #canvas {
    top: -90%;
  }
  .counter-holder .content {
    height: 100%;
  }
  .counter-holder {
    background-color: #e1ddc8;
    border-radius: 0;
  }
  .page-container {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 80%;
    background-color: transparent;
  }
}
@media all and (max-width: 450px) {
  .counter-holder h1 {
    font-size: 26px;
  }
  .counter-holder .subtitle {
    font-size: 11px;
  }
  .dash {
    height: 40px;
    margin-left: 0px;
    width: 35px;
  }
  .dash .digit {
    font-size: 18px;
    width: 11px;
  }
  .dash_title {
    right: auto;
    left: 0;
    font-size: 9px;
    font-weight: bold!important;
    letter-spacing: 0;
  }
  #countdown_dashboard {
    height: 45px;
  }
  form .input-group-addon .le-btn {
    width: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 11px;
    margin-left: 0px;
  }
  form .input-group .le-input {
    display: block;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
  }
}
/*------------------*/
.goto-top {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ee6c27;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 2000;
  padding: 20px;
}
.goto-top:after {
  content: "^";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  z-index: 5000;
  /* makes sure it stays on top */
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace.pace-inactive .pace-progress {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 7000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100px;
  margin: auto;
  height: 5rem;
  width: 5rem;
}
.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: #ee6c27;
}
#status {
  width: 100px;
  height: 34px;
  position: absolute;
  z-index: 6000;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 0;
  background-image: url(../images/page-loader.GIF);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 850px) {
  #big-text {
    left: 10%;
    top: 50%;
  }
  #big-text h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  #big-text p {
    font-size: 12px;
    line-height: 16px;
  }
  #big-text .le-btn {
    font-size: 9px;
    padding: 5px 8px;
  }
}
/*Browsers Hacks*/
.firefox form .input-group .le-input {
  height: 18px;
}
/*# sourceMappingURL=stylesheet.css.map */